{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modifier tâche</h1>

    {{ include('task/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('task_index') }}" class="btn btn-primary">Retour à la liste des tâches</a>

{% endblock %}
