{% extends 'base.html.twig' %}

{% block body %}
    <h1>Create new Task</h1>

    {{ include('task/_form.html.twig', {'button_label': 'Ajouter'}) }}

    <a href="{{ path('task_index') }}" class="btn btn-primary">Retour à la liste des tâches</a>
{% endblock %}
