{% extends 'base.html.twig' %}

{% block title %}Modifier utilisateur{% endblock %}

{% block body %}
    <h1>Modifier "{{ user.username }}"</h1>
    {{ include('user/_form.html.twig', {'button_label': 'Modifier'}) }}
    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
